<!-- User Menu Dropdown Component -->
<div class="user-menu-dropdown" id="userMenuDropdown">
    <div class="user-menu-content">
        <div class="user-menu-header">
            <div class="user-avatar">
                <i class="fas fa-user"></i>
            </div>
            <div class="user-info">
                <h4>Welcome!</h4>
                <p>Guest User</p>
            </div>
        </div>
        <div class="user-menu-items">
            <a href="/candle-shop/account" class="user-menu-item">
                <i class="fas fa-user-circle"></i>
                <span>My Account</span>
            </a>
            <a href="/candle-shop/orders" class="user-menu-item">
                <i class="fas fa-shopping-bag"></i>
                <span>My Orders</span>
            </a>
            <a href="/candle-shop/wishlist" class="user-menu-item">
                <i class="fas fa-heart"></i>
                <span>Wishlist</span>
            </a>
            <a href="/candle-shop/settings" class="user-menu-item">
                <i class="fas fa-cog"></i>
                <span>Settings</span>
            </a>
            <div class="user-menu-divider"></div>
            <a href="/candle-shop/login" class="user-menu-item">
                <i class="fas fa-sign-in-alt"></i>
                <span>Login</span>
            </a>
            <a href="/candle-shop/register" class="user-menu-item">
                <i class="fas fa-user-plus"></i>
                <span>Sign Up</span>
            </a>
        </div>
    </div>
</div>